#topbar
{
background-color: green;
grid-area: topbar;
}
#sidebar
{
background-color: blue;
grid-area: sidebar;
}
#mainbar
{
background-color: red;
grid-area: mainbar;
}
#leftbar
{
background-color: yellow;
grid-area: leftbar;
}
#rightbar
{
background-color: white;
grid-area: rightbar;
}
#footer
{
background-color: purple;
grid-area:footer ;
}
.colorgrid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 0.3fr;
    grid-template-areas: "topbar topbar topbar topbar" "sidebar mainbar mainbar mainbar" "sidebar leftbar rightbar rightbar" "footer footer footer footer" ;
    height: 100vh;
}
@media only screen and (max-width: 550px)
{
    .colorgrid
    {
        grid-template-columns: 1fr;
        grid-template-rows: .2fr 1fr 1fr 1fr 1fr .3fr ;
        grid-template-areas: "topbar" "sidebar" "mainbar" "leftbar" "rightbar" "footer";
    }
}